# Neon Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_lukobH5znj1Q@ep-billowing-morning-a1t0vycn-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
PORT=3001
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=phita1347@gmail.com
SMTP_PASS=xggc xctb xihj clpe
EMAIL_FROM=phita1347@gmail.com
FRONTEND_URL=http://localhost:5173
JWT_SECRET=7846451fde1e6e43af1e5a2b022188f2
JWT_REFRESH_SECRET=f36442001ff6b4958b8876d2e1acde75640714c6